@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    /* color: #fff; */
}

.container-register {
    min-height: 100vh;
    background-image: url("../../../src/assets/images/hinhnen.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.register-login-label{
}

.register-section{
    width: 150%;
    max-width: 650px;
    height: 950px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    background-color: rgba(3, 0, 0, 0.4);
    /*margin: 0;*/
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    margin: 0 150px;
}
.login-section{
    width: 150%;
    max-width: 650px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(3, 0, 0, 0.4);
    /*margin: 0;*/
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    margin: 0 150px;
}


.form_header {
    text-align: center;
    font-size: 1rem;
}
.form_header_welcome {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: pink;
}
.form_header_register-text {
    margin-block: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 6;
    padding-bottom: 1rem;
    margin-inline: 1.5rem;

}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    margin-inline: 1.5rem;

}
/* a, */
/* a:visited {
    color: #fff;
} */
.userType{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: transparent 2px solid;
}
input[type='text'],
input[type='password'] {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: transparent 2px solid;
    /*background-color: aqua;*/
}
.btn-login {
    background-color: #ffabb8;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}
.line {
    display: block;
    margin: 11px auto;
    padding: 10px 25px;
    font-size: 24px;
    width: 390px;
    cursor: pointer;
    /*text-align: center;*/
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ffabb8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;


}
.inputForm input[type="password"] {
    padding-right: 15px; /* Tạo khoảng cách bên phải để chứa icon */
}
.btn_eye{
    position: absolute; /* Tạo vị trí tuyệt đối */
    border: none; /* Bỏ viền */
    cursor: pointer; /* Biến con trỏ thành kiểu tay */
    width: 1000px;
    height: 45px;
    margin: 22px 0 ;
    right: 0;
    background: none;
}


.line:hover {
    color: black;
    background-color: blanchedalmond;
}
inputForm{
    position: relative;
}
.inputForm input {
    margin-block: 1rem;
    float: left;
    width: 600px;
}
.Login-Btn{
    line-height: 15px;
}

.form-verify{
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.verifi-OTP{
    background-color: #ffabb8;
    color: white;
    margin: 15px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #000000; /* đường viền của button */
}
.OTP-code{
    color: black;
}